.App {
  font-family: sans-serif;
  text-align: center;
}

.board {
  margin: auto;
  padding: 10px;
}

.cell {
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #ff0000;
  font-weight: bold;
  cursor: pointer;
}

.cell.revealed {
  background-color: #0090f1;
}

.game-over-message {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: white;
  padding: 20px;
  border: 1px solid black;
}
